---
layout: archive
title: "Group members"
permalink: /portfolio/
author_profile: true
---

<p><strong>Master's candidate:</strong><br>
Jiaqin Mi (LZU, 2024-Present, advisor)<br>
Zhongrui Bao (LZU, 2023-Present, advisor)<br>
Min Zhao (LZU, 2023-Present, advisor)<br>
Zifan Su (LZU, 2022-Present, advisor)</p>

<p><strong>ALUMNI</strong><br>
<div>
 Master's candidate:
 <ul>
  <li>Nan Lei (LZU, Master's candidate, 2022-2024, Doctoral candidate in LZU)<li>
  <li>Hanbin Nie (LZU, Master's graduate, 2021-2024, Commercial Aircraft Corporation of China, Ltd.)<li>
 <ul>
</div>

<div>
 Undergraduate student:
 <ul>
  <li>Wenze Shi (LZU, 2025, advisor)<li>
  <li>Liangcai Xing (LZU, 2025, co-advisor with Prof. Bian He)<li>
 <ul>
</div>

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

