---
layout: archive
title: "Group members"
permalink: /portfolio/
author_profile: true
---

**Master's candidate:**  
  Jiaqin Mi (LZU, advisor)  
  Zhongrui Bao (LZU, advisor)  
  Min Zhao (LZU, advisor)  
  Zifan Su (LZU, advisor)  
**Undergraduate student:**  
  Wenze Shi (LZU, advisor)  
  Liangcai Xing (LZU, advisor)  


**Allumni:**  
  Nan Lei (LZU, Master's candidate, 2022-2024, Doctoral candidate in LZU)  
  Hanbin Nie (LZU, Master's graduate, 2021-2024, Commercial Aircraft Corporation of China, Ltd.)  


{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

