---
layout: archive
title: "Group members"
permalink: /portfolio/
author_profile: true
---

<style>
  .member-list { margin-left: 20px; }
  .member-item { margin-bottom: 10px; }
  .member-photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
  }
</style>

<p><strong>Master's candidate:</strong></p>
<div class="member-list">
  <div class="member-item">
    <img src="images/jiaqin-mi.jpg" alt="Jiaqin Mi" class="member-photo">
    Jiaqin Mi (LZU, 2024-Present, advisor)
  </div>
  <div class="member-item">
    <img src="images/zhongrui-bao.jpg" alt="Zhongrui Bao" class="member-photo">
    Zhongrui Bao (LZU, 2023-Present, advisor)
  </div>
</div>

<p><strong>Master's candidate:</strong><br>
Jiaqin Mi (LZU, 2024-Present, advisor)<br>
Zhongrui Bao (LZU, 2023-Present, advisor)<br>
Min Zhao (LZU, 2023-Present, advisor)<br>
Zifan Su (LZU, 2022-Present, advisor)</p>

<p><strong>  </strong><br>
<p><strong>ALUMNI</strong><br>
<div>
 Master's candidate:
 <ul>
  <li>Nan Lei (LZU, Master's candidate, 2022-2024, Doctoral candidate in LZU)
  <li>Hanbin Nie (LZU, Master's graduate, 2021-2024, Commercial Aircraft Corporation of China, Ltd.)
 <ul>
</div>

<div>
 Undergraduate student:
 <ul>
  <li>Wenze Shi (LZU, 2025, advisor)
  <li>Liangcai Xing (LZU, 2025, co-advisor with Prof. Bian He)
 <ul>
</div>

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

